---
import PostList from "@/components/post-list.astro";
import RootLayout from "./_root-layout.astro";
---

<RootLayout>
  <section class="flex flex-col p-6">
    <PostList />
  </section>
</RootLayout>
