---
type Props = {
  type: "hanzi" | "punc";
  char: string;
  sub?: string;
  pinyin?: string;
};

const { type, char, sub, pinyin } = Astro.props;
---

{
  type === "hanzi" ? (
    <div class="flex flex-col items-center">
      <span>{pinyin || sub}</span>
      <span class="text-muted-foreground">{char}</span>
      {!!pinyin && <span class="text-sm">{sub}</span>}
    </div>
  ) : (
    <div class="-mr-1.5 flex flex-col items-center justify-center">
      <span>{char}</span>
    </div>
  )
}
